@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif ;  
}
body{
    /*color: #464646;*/
    color: black;
}
/*ESTILIZACAO DA HEADER*/
header{
    box-shadow: 0px 3px 10px rgba(0, 0, 0, .5);
}  
.nav-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 6rem;
} 
.logo{
    /*color: #F56B0D;*/
    display: flex;
    align-items: center;
}
.logo h1{
    color: orangered;
    font-size:40px ;
    font-family: cursive;
    font-weight: bold;
}
.logo span{
    color: #2fc9da;
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    margin: 0 15px;
}
.nav-link.active{
    color: #2fc9da;
}
.nav-link{
    color: orangered;
    position: relative;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.nav-link:after{
    content: "";
    position: absolute;
    background: #2fc9da;
    height: 3px;
    width: 0;
    right: 0;
    bottom: -8px;
    transition: 0.5s;
}
.nav-link:hover:after{
    width: 100%;
}
.button button{
    border: none;
    padding: 10px 15px;
    width: 150px;
    border-radius: 5px;
    font-weight: bold;
    color: whitesmoke;
    background-color: orangered;
    }
    .button button:hover{
        opacity: 0.8;
    }
    .mobile-menu-icon{
        display: none;
    }
    .mobile-menu{
        display: none;
    }

    @media screen and (max-width: 768px){
        header{
            background-color: whitesmoke;
        }
        .nav-bar{
            padding: 1.5rem 4rem;
        } 
        .logo h1{
            font-size: 30px;
        }
        .nav-item{
            display: none;
        }  
        .button{
            display: none;
        } 
        .mobile-menu-icon{
            display: block;
        }
        .mobile-menu-icon button{
            border: none;
            cursor: pointer;
            background-color: whitesmoke;
        }
        .mobile-menu ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;
        }
        .mobile-menu .nav-item{
            display: block;
            padding-top: 1.2rem;
        }
        .mobile-menu .button{
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 1rem 2rem;
        }
        .mobile-menu .button button{
            color: whitesmoke;
            width: 200px;
            background-color: orangered;
        }
        .open{
            display: block;
        }
    }
/*FIM DA ESTILIZACAO DA HEADER*/

/*ESTILIZACAO DA SECTION INTRODUCAO*/
#introducao{
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}  
.content{
    font-weight: bold;
    font-size: 40px;
    margin-left: 60px;
}  
.verifie1{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.verifie1 img{
    width: 50px;
    height: 50px;
}
.verifie1 span{
    color: #2fc9da;
    font-weight: bold;
    font-size: 20px;
}

.introducao_foto{
    margin-right: 60px;
}
.introducao_foto img{
    width: 700px;
    border-radius: 10px;
    
} /*FIM DA ESTILIZACAO INTRODUCAO*/

/*ESTILIZACAO DA SECTION FEEDBACK*/
#feedback h1{
    margin-top: 100px;
    text-align: center;
    font-weight: bold;
}
.container{
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}
.card1,
.card2,
.card3{
    width: 400px;
    height: 190px;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.client{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.personal_detail{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}
.personal_detail p{
    margin-left: 5px;
    color: #2fc9da;
    font-weight: bold;
}
.personal_detail img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.canal i{
    margin-right: 20px;
    color: #2fc9da;
}
.comentario{
    color: #b8b5b5;
    text-align: center;
    margin-top: 20px;
}
.comentario span{
    color: #2fc9da;
}/*FIM DA ESTILIZACAO DA SECTION FEEDBACK*/

/*ESTILIZACAO DA SECTION ACORDION*/
#accordion h2{
    text-align: center;
    margin-top: 70px;
}
.accordion_container{
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 700px;
    margin-top: 30px;
}
.accordion {
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.accordion_header {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
    cursor: pointer;
}
.accordion_header i {
    color: #2fc9da;
}
.accordion_header span {
    color: #2fc9da;
    font-weight: bold;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.accordion_body {
    margin-top: 20px;
    font-size: 15px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s;
}
.accordion_body.active {
    height: 100%;
    opacity: 1;
    padding: 5px 0px;
}
.arrow {
    transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}
/*ESTILIZACAO DA SECTION FOOTER*/
.foot_header{
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.foot_logo i{
    font-size: 25px;
    color: orangered;
    font-weight: bold;
}
.foot_logo span{
    color: #2fc9da;
}
.social_media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.social_media p{
    margin-right: 3px;
    font-size: 15px;
    color: orangered;
    font-weight: bold;
}
.icones img{
    width: 25px;
    margin: 3px;
}
.foot_content{
    margin: auto;
    width: 70%;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.services,
.simulators,
.about{
    display: flex;
    flex-direction: column;
}
.simulators{
    margin-top: 3rem;
}
.services a,
.simulators a,
.about a{
    margin: 5px;
    text-decoration: none;
    /*color: #b8b5b5;*/
    color: rgb(81, 81, 81);
}
.services a:hover,
.simulators a:hover,
.about a:hover{
    color: blue;
}
.footer_foot{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #464646;
}
.footer_foot img{
        width: 30px;
        margin: 5px;
}    
.footer_foot a{
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
}/*FIM DA ESTILIZACAO DA SECTION FOOTER*/

/*@MEDIA QUERY PARA TABLETS*/
@media screen and (max-width: 768px){
    .content{
        font-weight: bold;
        font-size: 35px;
        margin-left: 30px;
    }
    .introducao_foto{
        margin-top: 10px;
        margin: auto;
    }
    .introducao_foto img{
        width: 600px;
        border-radius: unset;
    }
    .card1,
    .card2,
    .card3{
        width: 600px;
    }
    .card2,
    .card3{
        margin-top: 25px;
    }
    .accordion_container{
        width: 600px;
    }
    .accordion_header{
        font-size: 17px;
    }
    .foot_content{
        width: 100%;
    }
    .footer_foot{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .footer_foot img{
        width: 30px;
    }
}
@media screen and (max-width: 450px){
    header{
        background-color: whitesmoke;
    }
    .logo h1{
        font-size: 20px;
    }
    #introducao{
        margin-top: 60px;
    }
    .content{
        font-size: 25px;
        margin-left: 10px;
    }
    .verifie1 span{
        font-size: 15px;
    }
    .introducao_foto img{
        width: 370px;
        border-radius: unset;
    }
    #feedback h1{
        font-size: 17px;
    }
    .card1,
    .card2,
    .card3{
        width: 370px;
        font-size: small;
    }
    #accordion h2{
        font-size: 17px;
    }
    .accordion_container{
        width: 370px;
    }
    .accordion_header{
        font-size: 14px;
    }
    .accordion_body{
        text-align: start;
        font-size: 10px;
    }
    .foot_header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .social_media{
        display: flex;
        flex-direction: column;
    }
    .foot_content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .simulators{
        margin-top: 5px;
    }
    .services a,
    .simulators a,
    .about a{
        display: none;
    }
    #footer h2{
        font-size: 15px;
    }
}